@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage

@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Entities.Users
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

@{
    var user = UserController.Instance.GetCurrentUserInfo();
}

<h2>Welcome to the Personality Test</h2>

@if (user != null && user.UserID > 0)
{
    <p>Hello, @user.DisplayName!</p>
}
else
{
    <p>Please log in to take the test.</p>
}


