@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Entities.Users
@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<p>A válaszaid alapján hamarosan megmutatjuk a hozzád legjobban illő gyűrűket.</p>

<p>Nézd meg az ajánlásainkat a <strong>profilod</strong> alatt, vagy nézz körül a webshopban!</p>

<a href="/" class="btn btn-primary">Vissza a főoldalra</a>